<tr>
  <td>1</td>
  <td>Person A</td>
  <td>100</td>
  <td>0</td>
  <td>
    <a href="#" class="btn border-shadow update">
      <span class="text-gradient"><i class="fa-solid fa-plus"></i></span>
    </a>
  </td>
  <td>1</td>
</tr>
<tr>
  <td>2</td>
  <td>Person B</td>
  <td>100</td>
  <td>50</td>
  <td>
    <a href="#" class="btn border-shadow update">
      <span class="text-gradient"><i class="fa-solid fa-plus"></i></span>
    </a>
  </td>
  <td>2</td>
</tr>
<tr>
  <td>3</td>
  <td>Person C</td>
  <td>50</td>
  <td>50</td>
  <td>
    <a href="#" class="btn border-shadow update">
      <span class="text-gradient"><i class="fa-solid fa-plus"></i></span>
    </a>
  </td>
  <td>3</td>
</tr>
